html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: $base-line-height;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

// h1, h2, h3, h4, h5, h6, 
// p, hr, ul, ol, dl {
//   margin-bottom: $base-spacing-unit;
//   &:last-child {
//     margin-bottom: 0;
//   }
// }

p {
  line-height: 2;
}

ul {
  padding-left: 0;
  list-style: none;
}


/**
 * Basic styles for links
 */

a {
  color: $brand-colour;
  text-decoration: none;
  &:hover {
    color: $base-colour;
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/** 
 * Transitions
 */

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}