/**
 * Colours
 */

$base-colour:            #000;
$base-background-colour: #fff;

$brand-colour:           #000;
 
 
 /**
  * Typography
  */

$base-font-family:        "Times New Roman", Times, serif;

$base-font-size:          16;
$base-line-height:        1.5;
$base-font-weight:        400;
$base-spacing-unit:       ($base-font-size * $base-line-height) * 1px;
 
 
/**
* Breakpoints
*/
 
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 480px;

$breakpoints: (
    'lg' '(min-width: ' + ($breakpoint-md + 1) + ')',
    'md' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width: ' + $breakpoint-md + ')',
    'sm' '(min-width: ' + ($breakpoint-xs + 1) + ') and (max-width:'  + $breakpoint-sm + ')',
    'xs' '(max-width: ' + $breakpoint-xs + ')'
);
 
 
/**
 * Grid
 */
 
$grid-max-width: 1200px;
$grid-columns:   12;
$grid-gutter:    $base-spacing-unit;