<template>
  <main class="main" role="main" v-if="!loading">
    <div class="main__content">
      <template v-if="page.gallery">
        <Slider :gallery="page.gallery" />
      </template>
      <template v-else>
        <div v-html="page.content"></div>
      </template>
    </div>
  </main>
</template>

<script>
import Slider from '@/components/Slider.vue'
import { mapState } from 'vuex'

export default {
  props: ['slug'],
  components: {
    Slider
  },
  created() {
    this.$store.state.loading = true

    // here I need to wait fot the fetchPages API call in the App component to fetch the page I want

    this.$store.dispatch('fetchPage', this.slug)
  },
  computed: mapState(['loading', 'page']),
  metaInfo: {
    title: 'this.title'
  }
}
</script>

<style lang="scss" scoped></style>
