<template>
  <header class="header" role="header">
    <Nav />
    <Logo />
  </header>
</template>

<script>
import Nav from '@/components/Nav.vue'
import Logo from '@/components/Logo.vue'

export default {
  components: {
    Nav,
    Logo
  }
}
</script>

<style lang="scss" scoped>
.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: #{$base-spacing-unit} #{$base-spacing-unit * 1.5};
  display: flex;
  justify-content: space-between;
  @include font-size($base-font-size + 16);
}
</style>
