<template>
  <nav role="navigation" class="header__navigation">
    <ul class="nav nav--header">
      <li v-for="(item, index) in menu" :key="index" class="nav__item">
        <router-link :to="{ name: 'page-show', params: { slug: item.slug } }">{{
          item.title
        }}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      menu: [
        { slug: 'contact', title: 'contact' },
        { slug: 'projects', title: 'projects' },
        { slug: 'about', title: 'about' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.nav {
  display: flex;
  .nav__item {
    &:after {
      content: ',';
      margin-right: $base-spacing-unit / 4;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
    a {
      &.router-link-active {
        text-decoration: underline;
      }
    }
  }
}
</style>
