<template>
  <div class="gallery">
    <transition tag="div" name="fade" class="gallery__container" mode="out-in">
      <figure
        v-for="index in [currentIndex]"
        :key="index"
        class="gallery__item"
      >
        <div class="gallery__item__image">
          <img :src="currentImage.image" />
        </div>
        <figcaption class="gallery__item__info">
          <h6>{{ currentImage.title }}</h6>
          <p>{{ currentImage.caption }}</p>
        </figcaption>
      </figure>
    </transition>
    <ul class="gallery__navigation">
      <li><button @click="prev" class="prev"></button></li>
      <li><button @click="next" class="next"></button></li>
    </ul>
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: ['gallery'],
  data() {
    return {
      currentIndex: 0
    }
  },
  computed: {
    currentImage() {
      return this.images[Math.abs(this.currentIndex) % this.images.length]
    },
    ...mapState({
      images: state => state.page.gallery
    })
  },
  methods: {
    next() {
      this.currentIndex += 1
    },
    prev() {
      this.currentIndex -= 1
    }
  }
}
</script>
<style lang="scss" scoped>
.gallery {
  position: relative;
  max-height: 70vh;
  .gallery__item {
    max-height: inherit;
    .gallery__item__image {
      max-height: inherit;
      margin-bottom: $base-spacing-unit / 2;
      img {
        margin: 0 auto;
        max-height: inherit;
      }
    }
    .gallery__item__info {
      h6,
      p {
        @include font-size($base-font-size - 4);
      }
      h6 {
        font-weight: normal;
        font-style: italic;
      }
    }
  }
  .gallery__navigation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    li {
      flex: 1;
      height: 100%;
      button {
        appearance: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
      }
      .prev {
        cursor: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17"><g fill="none" stroke="rgb(0,0,0)" stroke-miterlimit="10" stroke-width="2"><path d="m21.4 8.5h-20"/><path d="m9 1-7.6 7.5 7.6 7.5" stroke-linejoin="round"/></g></svg>'),
          auto;
      }
      .next {
        cursor: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17"><g fill="none" stroke="rgb(0,0,0)" stroke-miterlimit="10" stroke-width="2"><path d="m.6 8.5h20"/><path d="m13 16 7.6-7.5-7.6-7.5" stroke-linejoin="round"/></g></svg>'),
          auto;
      }
    }
  }
}
</style>
