<template>
  <div id="app">
    <Header />
    <transition name="fade" mode="out-in">
      <router-view :key="$route.fullPath" />
    </transition>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  components: {
    Header
  },
  created() {
    this.$store.dispatch('fetchPages')
  },
  metaInfo: {
    title: 'atmo',
    meta: [
      { name: 'msapplication-TileColor', content: '#ffffff' },
      { name: 'theme-color', content: '#ffffff' }
    ],
    link: [
      {
        rel: 'apple-touch-icon',
        sizes: '180x180',
        href: '/apple-touch-icon.png'
      },
      {
        rel: 'icon',
        type: 'image/png',
        sizes: '32x32',
        href: '/favicon-32x32.png'
      },
      {
        rel: 'icon',
        type: 'image/png',
        sizes: '16x16',
        href: '/favicon-16x16.png'
      },
      { rel: 'manifest', href: '/site.webmanifest' },
      { rel: 'mask-icon', href: '/safari-pinned-tab.svg', color: '#5bbad5' }
    ]
  }
}
</script>

<style lang="scss">
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .main__content {
    max-width: 470px;
    width: 100%;
    text-align: center;
  }
}
</style>
